<!doctype html>
<!--
______ ___________  __   __                      _____       _
|  _  \____ | ___ \ \ \ / /                     |  _  |     (_)
| | | |   / / |_/ /  \ V / _ __ ___   __ _ ___  | | | |_   _ _ ____
| | | |   \ \    /   /   \| '_ ` _ \ / _` / __| | | | | | | | |_  /
| |/ /.___/ / |\ \  / /^\ \ | | | | | (_| \__ \ \ \/' / |_| | |/ /
|___/ \____/\_| \_| \/   \/_| |_| |_|\__,_|___/  \_/\_\\__,_|_/___|


Hello mr adventurous person, are you looking for holes in this application to exploit?

Well you are in luck! There is at least one security flaw (that I know of)
in this interface you just need to try your luck.

Whilst on your way down this abomination of a html file please refrain for judging the
horrific crimes against CSS and HTML, I do not claim to be a Front End developer and
there was little planning involved in the making of this and just like any good developer
I threw this all together in a complete rush and bodged it until it works.

Have I managed to distract you from actually finding the flaw in this enough? you are
burning precious time reading this nonsense rather than trying to break the system and
change your score eh? It' kind of reminds me of that time in 1998, The Undertaker threw
Mankind off Hell In A Cell, and plummeted 16 ft through an announcer's table.

The first bump Foley would take came as both wrestlers were brawling on top of the cell,
and the Undertaker threw Mankind from the top of the cage from a height of 16 feet (4.9 m);
(22 ft if including angle of the fall)[8] and sent him crashing through the Spanish
announcers' table, which triggered announcer Jim Ross to famously shout,
"Good God almighty! Good God almighty! That killed him! As God as my witness,
he is broken in half!

Clock is ticking by the way ;)

Seriously, you will want to look a lot further down.. *hint* the fun things happen in
the javascript section ;)

While I have you all here, anyone fancy contributing to this project for next year?
This seriously needs some cleaning up and it would be nice to try and polish this up
just a tad so that its not such a cobbled together hash of game code :P

https://github.com/Dave13h/QuizBot - if its not public, shoot me a message.

Enjoy

-- Dave, the resident code bodger.

⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣸⣿⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢾⣷⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠏⠃⠀⠀⣀⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠋⠆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣤⣶⣿⣿⣿⣷⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⣿⣿⣿⣿⣿⣿⡟⠀⠀⢀⡀⠀⠀⠀⠀⠀⣀⣀⣀⣀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣰⣿⣿⣿⣿⣿⣿⣿⠷⠛⣫⣭⡉⠉⠲⣾⡿⠋⠉⣩⣭⣍⠛⢶⣄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣼⣿⣿⣿⣿⣿⣿⣿⡇⠀⢸⣿⣿⣿⠀⠀⠟⠧⠀⠸⣿⣿⣿⠀⠈⠛⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⣠⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣦⡀⠉⠋⠁⣠⣆⣀⣀⣠⣄⠉⠉⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⣴⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠁⢈⣽⣿⣿⣿⣿⣿⣿⣿⣿⣿⣏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⢀⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀⣼⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡆⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⢀⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡄⠈⠉⠛⠻⠿⢿⣿⡿⠟⠛⠛⠉⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⣸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢠⠀⠀⠀⠀
⠀⠀⠀⢰⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡼⠀⠀⠀⠀
⠀⠀⠀⣾⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠟⠋⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡇⡇⠀⠀⠀
⠀⠀⣸⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣏⠀⢀⣀⣀⣀⣀⣀⣀⣀⣀⣀⣀⣀⣀⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣠⣴⣿⠁⢃⠀⠀⠀
⠀⠀⣿⣿⣿⢻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⠛⠛⠛⠛⠛⠛⠛⠛⠛⠛⠻⠿⠛⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣼⣿⣿⣿⣿⡇⢸⠀⠀⠀
⠀⢸⣿⣿⡇⠈⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣶⣶⣶⣦⣤⣄⣀⡀⠀⠀⠀⠀⠀⠀⣀⣤⡄⠀⠀⠀⠀⠀⣸⣿⣿⣿⣿⢿⣷⢸⡀⠀⠀
⠀⣼⣿⣿⠀⠀⠹⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠃⠀⠀⠀⠀⣠⣿⣿⣿⣿⠃⠀⣿⡏⡇⠀⠀
⠀⣿⣿⡇⠀⠀⠀⠘⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣧⣀⣀⣤⣶⣿⣿⣿⠟⠁⠀⠀⠉⠁⡇⠀⠀
⠀⡿⠛⠃⠀⠀⠀⠀⠀⠛⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⡿⠋⠀⠀⠀⠀⠀⠀⡇⠀⠀
⠀⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⢻⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠟⠉⠀⠀⠀⠀⠀⠀⡀⠀⡇⠀⠀
⠀⣧⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⡟⠛⠿⠿⢿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⣿⠁⠀⠀⠀⠀⠀⠀⠀⠀⢠⠀⡇⠀⠀
⠀⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⣿⠁⠀⠀⠀⠀⠀⠀⠉⠉⠉⠉⠉⠉⠉⠉⠉⠉⠁⠀⠀⠀⢹⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⣷⠀⠀
⠀⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⡏⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠈⣿⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⠀⣿⠀⠀
⠀⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠸⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠈⠀⢹⡄⠀
⢠⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⠇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠻⡀
⢸⣿⠀⠀⡀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣣
⣾⣿⠀⠀⢹⡀⠀⠀⠀⠀⠀⠀⠀⠀⣇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢀⣿⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡇⠀⢀⣿
⢿⢿⡄⠀⠀⠳⡀⠀⠀⠀⠀⠀⠀⠀⣿⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢸⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⡄⠁⠀⣾⡟
⠸⡈⢧⡀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⢿⣷⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣿⡇⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣰⡿⠁
⠀⠑⢌⣷⣦⡀⠀⠀⠀⠀⠀⠀⠀⠀⠘⠛⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣸⣿⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠴⠞⠉⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⣾⠃⠀⠀⣶⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⣀⠀⠀⢠⡄⠀⠀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⣤⡴⠋⠀⢀⣠⢿⡇⠀⣀⠔⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⡀⠀⠀⢸⣿⠀⠀⠀⠻⣀⣀⠀⠀⠀⠀⠀⠀⠀
⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠉⠁⠀⠀⠀⠁⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠀⠙⠢⠀⠸⠛⠓⠢⠄⠀⠉⠉⠁⠀⠀⠀⠀⠀⠀

-->
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <title>Quiz Master</title>

        <link href="css/nes.min.css" rel="stylesheet" />
        <link href="css/animate.css" rel="stylesheet" />
        <link href="css/style.css" rel="stylesheet" />
        <link href="css/quizmaster.css" rel="stylesheet" />
    </head>
    <body class="curtain">
        <div class="headerbar">
            <div>
                <h1>Quiz Master</h1>
            </div>
            <div style="text-align: right;line-height: 48px;">
                <label>
                    <input id="autosave" type="checkbox" class="nes-checkbox" value="1">
                    <span>AutoSave</span>
                </label>
            </div>
        </div>

        <section class="container with-title">
            <h2 class="title">Modes</h2>
            <div id="menu">
                <button type="button" data-target="contestants" class="btn is-primary">Contestants</button>
                <button type="button" data-target="teams" class="btn is-success">Teams</button>
                <button type="button" data-target="questions" class="btn is-success">Questions</button>
                <button type="button" data-target="sounds" class="btn is-success">Sounds</button>
                <button type="button" data-target="titles" class="btn is-success">Titles</button>
                <button type="button" data-target="game" class="btn is-success">Game</button>
                <button type="button" data-target="debug" class="btn is-success">Debug</button>
            </div>
        </section>

        <section class="container with-title" id="contestants_view">
            <h2 class="title">Contestants</h2>
            <div class="containers" id="contestants"></div>
        </section>

        <section class="container with-title" id="teams_view">
            <h2 class="title">Teams</h2>
            <div class="containers" id="teams"></div>
        </section>

        <section class="container with-title" id="questions_view">
            <h2 class="title">Questions</h2>
            <div class="containers" id="questions"></div>
        </section>

        <section class="container with-title" id="sounds_view">
            <h2 class="title">Sounds</h2>
            <div class="containers" id="sounds">
                <button type="button" data-sound="awesome" class="btn">Awesome</button>
                <button type="button" data-sound="nextround" class="btn">Next round</button>
                <button type="button" data-sound="notyourbestmoment" class="btn">Not your best moment</button>
                <button type="button" data-sound="orderorder" class="btn">Order! Order!</button>
                <button type="button" data-sound="nice_to_see_you" class="btn">Nice to see you</button>
                <button type="button" data-sound="catchphrase" class="btn">Catchphrase</button>
                <button type="button" data-sound="weakest_link" class="btn">Weakest Link</button>
                <button type="button" data-sound="im_in_charge" class="btn">I'm in charge</button>
                <button type="button" data-sound="wrong" class="btn">Wrong</button>
                <button type="button" data-sound="correct" class="btn">Correct</button>
                <button type="button" data-sound="correct_nope_wrong" class="btn">Correct Nope Wrong</button>
                <button type="button" data-sound="mastermind" class="btn">Mastermind</button>

                <br><br>
                <button type="button" id="stopaudio" class="btn is-error">Stop all audio</button>
            </div>
        </section>

        <section class="container with-title" id="titles_view">
            <h2 class="title">titles</h2>
            <div class="containers" id="titles">
                <button type="button" data-title="wait" class="btn">Wait</button>
                <button type="button" data-title="intro" data-video="video_intro" class="btn">Intro</button>
                <button type="button" data-title="teams" class="btn">Teams</button>
                <button type="button" data-title="rules" class="btn">Rules</button>
                <button type="button" data-title="rounds" class="btn">Rounds</button>
                <button type="button" data-title="scores" class="btn">Scores</button>
                <button type="button" data-title="break" class="btn">Break the game</button>
                <button type="button" data-title="outro" data-audio="music_outro" class="btn">Outro</button>
            </div>
        </section>

        <section class="container with-title" id="game_view">
            <h2 class="title">Game</h2>
            <div class="containers" id="game">
                <div id="active_state">
                    <h3>Active Question</h3>
                    <p id="active_question"> -- None -- </p>

                    <h3>Active Team</h3>
                    <p id="active_team"> -- None -- </p>

                    <div id="countdown_results"></div>
                </div>

                <button type="button" id="game_skip" class="btn is-warning">Skip</button><br>
                <button type="button" id="game_audio" class="btn is-success" style="display: none;">Play Audio</button>

                <div id="game_pictionary">
                    Pictures<br />
                    <ul></ul><br />

                    <button type="button" id="game_pictionary_start" class="btn is-success">Start</button>
                    <button type="button" id="game_pictionary_correct" class="btn is-primary">Correct</button>
                    <button type="button" id="game_pictionary_skip" class="btn is-warning">Skip</button>
                    <button type="button" id="game_pictionary_end" class="btn is-error">End</button><br />
                </div>

                <div id="game_ssr">
                    Santa's Sleigh Ride<br /><br />

                    <button type="button" id="game_ssr_start" class="btn is-success">Start</button>
                    <button type="button" id="game_ssr_next" class="btn is-warning">Next</button><br/><br/>
                    <button type="button" id="game_ssr_reset" class="btn is-error">Reset</button>
                </div>

                <br />
                <button type="button" id="game_timer_start" class="btn is-success" style="display: none;">Start timer</button>
                <button type="button" id="game_timer_pause" class="btn is-warning" style="display: none;">Pause timer</button>
                <button type="button" id="game_timer_reset" class="btn is-error" style="display: none;">Reset timer</button>

                <div id="game_actions">
                    <button type="button" id="game_correct" class="btn is-primary">Correct</button>
                    <button type="button" id="game_wrong" class="btn is-error">Wrong</button>
                </div>
            </div>
        </section>

        <section class="container with-title" id="debug_view">
            <h2 class="title">Debug</h2>
            <button type="button" id="release_puplock" class="btn is-warning">Release Powerup Lock</button>
            <button type="button" id="fetch_debug_teams" class="btn is-warning">Debug Teams</button>
            <div class="containers" id="debug"></div>
        </section>

        <!--
            totally legit javascript section,
            keep going sir, you've survived the html section.
            You are doing great! Don't let anyone ever tell you otherwise.
        -->
        <script src="/socket.io/socket.io.js"></script>
        <script src="js/jquery-1.11.1.js"></script>
        <script src="js/qmaster.js"></script>
    </body>

    <!--
    Hope you all have a great Xmas and New Years! Good luck in 2023!
                                                            - Dave :)
    -->
</html>
